body{
    position: relative;
    background-color: #DFF6FF;
}

div{
    margin-bottom: 15px;
}

.wt_header{
    display: inline-block;
    padding: 5px;
    font-family: 'Abel', sans-serif;
    font-size: calc(12px + 1.33vw);
    font-weight: 300;
}

#rt_stuff{
    position: absolute;
    right: 5%;
}

/* hr{
    border: 0.5px solid black;
} */

/*newsletterTitle*/
#heading-1{
    font-size: calc(15px + 1.07vw);
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin-bottom: 5px;
    font-weight: 300;
}

#heading-2{
    text-align: center;
    margin-bottom: 5px;
    font-size: calc(36px + 2.88vw);
    margin-top: 10px;
    font-family: 'Rochester', cursive;
    font-weight: 100;
}

#welcome-message{
    font-family: 'Babylonica', cursive;
    font-size: calc(19px + 1.55vw);
    color: grey;
    text-align: center;
    margin-top: 5px;
    transform: rotate(-10deg);
    font-weight: 100;
}

/*cheeryArticle*/
.cheeryArticle{
    /* display: inline-block; */
    display: flex;
    padding: 10px;
    
}




@media screen and (min-width: 650px){
    .ca-img{
        width: 50%;
        display: inline-block;
        /* float: left; */
        min-height: 100%;
    }
    .ca-text{
        text-align: center;
        width: 50%;
        /* float: left; */
        height: 100%;
    }

    #ca-img{
        /* display: inline-block; */
        width: 100%;
        /* float: left; */
        height: 100%;
        display: inline-block;
        /* min-width: 420px; */
    }
    #ca-fline {
        font-family: 'Abel', sans-serif;
        /* display: inline-block; */
        /* margin-left: 850px; */
        margin-bottom: 5px;
        font-size: calc(10px + 0.64vw);
    }
    #ca-sline{
        /* display: inline-block; */
        /* margin-left: 850px; */
        font-size: calc(28px + 2.24vw);
        font-weight: 400;
        font-family: 'Rochester', cursive;
        margin-top: 10px;
    }
    #ca-content{
        width: 60%;
        /* display: inline-block; */
        /* margin-left: 850px; */
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .cheeryArticle {
        flex-direction: column;
    }
    .ca-img{
        width: 100%;
    }
    #ca-img{
        width: 100%;
    }
    .ca-text{
        text-align: center;
        width: 100%;
    }
    #ca-fline{
        font-size: calc(10px + 0.64vw);
        font-family: 'Abel', sans-serif;
        margin-bottom: 5px;
    }
    #ca-sline{
        font-size: calc(28px + 2.24vw);
        font-weight: 400;
        font-family: 'Rochester', cursive;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    #ca-content{
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
}

/*DoJMA Updates*/
.DoJMA-Updates{
    padding: 10px;
    /* text-align: left; */
    display: flex;
}

@media screen and (min-width: 650px){
    .du-text{
        width: 60%;
        margin: 25px;
    }
    
    .du-img{
        margin: 25px;
        width: 30%;
    }
    
    #du-fline{
        font-size: calc(28px + 2.24vw);
        font-weight: 400;
        font-family: 'Rochester', cursive;
    }
    
    #du-content{
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
    
    #du-sline{
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
    
    #du-img{
        /* float: right; */
        height: 100%;
        width: 100%;
    }
    /*small article*/
    .sa-part{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: fit-content;
    }
    .sa-fline{
        font-size: calc(28px + 2.24vw);
        font-weight: 400;
        font-family: 'Rochester', cursive;
        margin-top: 0px;
    }
    
    .sa-sline{
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
    
    .sa-content{
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
        width: 80%;
    }  
    .sa-img{
        width: 45%;
        min-height: 100%;
        display: inline-block;
        margin-top: 15px;
        margin: 10px;
    }
    
    .sa-text{
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-bottom: 0;
        margin-left: 50px;
    }
    
}

@media screen and (max-width: 650px){
    .DoJMA-Updates{
        flex-direction: column;
    }
    #du-fline{
        font-size: calc(28px + 2.24vw);
        font-weight: 400;
        font-family: 'Rochester', cursive;
    }
    #du-sline{
        font-family: 'Abel', sans-serif;
        margin-bottom: 5px;
        font-size: calc(10px + 0.64vw);
    }
    #du-content{
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }

    /*small article*/
    .sa-part{
        display: flex;
        justify-content: center;
    }
    .sa-part{
        flex-direction: column;
    }
    .sa-fline{
        font-size: calc(28px + 2.24vw);
        font-weight: 400;
        font-family: 'Rochester', cursive;
    }
    
    .sa-sline{
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
    
    .sa-content{
        font-size: calc(10px + 0.64vw);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
        width: 80%;
    }
}

/*ourLatestClientProject*/
.OLCP{
    text-align: center;
}

#olcp-fline{
    font-size: calc(28px + 2.24vw);
    font-weight: 400;
    font-family: 'Rochester', cursive;
}

#olcp-sline{
    font-family: 'Abel', sans-serif;
    margin-bottom: 5px;
    font-size: calc(10px + 0.64vw);
}

#olcp-content{
    font-size: calc(10px + 0.64vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

#olcp-img{
    height: 550px;
    width: 70%;
    margin: auto;
}

button{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 5px;*/
  font-family: 'Abel', sans-serif;
  border-radius: 6px;
  border: none;
  font-size: calc(8px + 0.64vw);
  font-weight: 500;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 45%;
  margin: auto;
}

button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/*more Actions*/
.ma{
    display: flex;
    justify-content: center;
}

.ma-card{
    margin: 10px;
    text-align: center;
    width: fit-content;
    width: 30%;
}

.ma-content{
    font-size: calc(10px + 0.64vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    width: 80%;
    margin: auto;

}

.ma-img{
    /* width: 50%; */
    width: 100%;
}

.ma-fline{
    font-size: calc(28px + 2.24vw);
    font-weight: 400;
    font-family: 'Rochester', cursive;   
}

.ma-sline{
    font-family: 'Abel', sans-serif;
    margin-bottom: 5px;
    font-size: calc(10px + 0.64vw);
}

/*work with us*/

.wwu{
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}

.wwu-fline{
    font-size: calc(28px + 2.24vw);
    font-weight: 400;
    font-family: 'Rochester', cursive;
    margin-bottom: 10px;
}

.wwu-sline{
    font-family: 'Abel', sans-serif;
    margin-bottom: 5px;
    font-size: calc(10px + 0.64vw);
}

.wwu-content{
    font-size: calc(10px + 0.64vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    /* width: 80%; */
    margin: auto;
    margin-bottom: 60px;
}
